@import 'config';

html {
    scroll-behavior: smooth;
}

.showcase{
    height: 900px;
    background: #000;


    &-text{
        width: #{"min(90%, 512px)"};
        padding-top: 135px;
        margin: auto;

        
        h1{
            color: #FCFBFB;
            font-weight: bold;
            font-size: 64px;
            letter-spacing: 0.015em;
            font-weight: 700;
            margin-bottom: 5px;
            margin: auto;
        }

        .sub-title{
            font-family: Mulish;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.015em;
            color: #FCFBFB;
            width: 80%;
            margin: 0 auto 42px auto;
        }

        .store-download-btns{
            display: flex;
            width: 80%;
            margin: 0 auto 42px auto;
            justify-content: space-evenly;

            & > div:first-of-type{
                margin-right: 1rem;
            }
        }

        .store-download-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
    
            .first-text{
                font-family: Mulish;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #080000;
            }
    
            .second-text{
                font-family: Mulish;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 23px;
                color: #080000;
            }
        }

        
    }
    
}

#about{
    padding-bottom: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    // justify-content: center;

    .showcase-image{
        margin-top: -500px;
        // width: 80%;
        // border: solid red;
    }
        
    h1{
        font-family: Mulish;
        font-weight: 700;
        font-size: 48px;
        line-height: 49px;
        letter-spacing: 0.015em;
        color: #F49648;
        margin-bottom: 37px;
        margin-top: 50px;

        &+p {
            margin-bottom: 2rem;
        }
    
    }

    .about-text{
        font-family: Mulish;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.4;
        letter-spacing: 0.015em;
        text-align: center;
        // width: #{"min(80%, 727px)"};
    }

    .partner-btn{
        display: flex;
        align-items: center;
        font-family: Mulish;
        font-weight: 600;
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0.015em;
    }

    p:nth-child(4){
        margin-bottom: 55px;
    }
    
}
  
#how-it-works{
    padding-bottom: 178px;
       
    #works-heading{
        font-family: Mulish;
        font-weight: 700;
        font-size: 48px;
        line-height: 49px;
        letter-spacing: 0.015em;
        color: #F49648;
        margin-bottom: 91px;
        text-align: center;
    }
}

#pay-once{
    display: flex;
    // border: solid red;
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
    

    .pay-once-image{
        flex: 0.6;
        // border: solid yellow;

        .pay-once-img{
            width: 100%;
        }
    }

    .pay-once-info{
        flex: 0.4;
        margin-top: 25px;
        // border: solid green;
    }

    h1{
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 49px;
        letter-spacing: 0.015em;
        color: #F49648;
        padding-bottom: 43px;
        // border: solid blue;
    }

    .pay-one-text{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 39px;
        letter-spacing: 0.015em;
        margin-bottom: 56px;
    }

    .button-container{
        display: flex;
    }

    .store-download-btns{
        display: flex;
        width: 80%;
        margin: 0 auto 42px auto;
        justify-content: space-between;
    }

    .store-download-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;

        .first-text{
            font-family: Mulish;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
        }

        .second-text{
            font-family: Mulish;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 23px;
            color: #fff;
        }
    }
}

#partner{
    background: #000000;
    color: #fff;
    height: 806.32px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 173px;
    
    &::before{
        content: '';
        position: absolute;
        background: #000;
        top: -40px;
        left: 0;
        height: 80px;
        width: 100%;
        transform: skewY(3deg);
    }

    &::after{
        content: '';
        position: absolute;
        background: #000;
        bottom: -70px;
        left: 0;
        height: 100px;
        width: 100%;
        transform: skewY(2deg);
    }

    .partner-container{
        display: flex;
        width: 80%;
        margin: auto;
        height: 80%;
        height: 89vh;

        .partner-left{
            flex: 0.5;

            p{
                font-family: Mulish;
                font-size: 24px;
                font-weight: 400;
                line-height: 39px;
                letter-spacing: 0.015em;
            }
        }

        .partner-right{
            flex: 0.5;
            // flex: 0.38;
            margin-left: auto;
            background: url('../assests/circles.png') no-repeat 0 20vh;
            background-size: contain;

            h1{
                font-family: Mulish;
                font-size: 48px;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0.015em;
                color: #F49648;
                width: 220px;
                margin-top: 30px;
                margin-left: 5vw;
            }

            h2{
                font-family: Mulish;
                font-size: 24px;
                font-weight: 400;
                line-height: 39px;
                letter-spacing: 0.015em;
                color: #FFFFFF;
                width: 80%;
                margin: auto;
                margin-bottom: 13px;
            }

            form{
                width: #{"min(408px, 100%)"};
                height: 499px;
                // background: url('../assests/circles.png') no-repeat center center/cover;
                // overflow: visible;
                // background: rgba(255, 255, 255, 0.2);
                // backdrop-filter: blur(70px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 6px;
                padding-top: 28px;
                margin-top: 64px;
                position: relative;
                box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .9); 
                margin-left: 5vw;
                z-index: 1;
                
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.2);
                    // box-shadow: inset 0 0 2000px rgba(255, 255, 255, 1);
                    // filter: blur(4px);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    z-index: -1;
                    // background: #000;
                }

                .form-container{
                    width: 80%;
                    margin: auto;
                    margin-top: 2rem;

                    .form-field{
                        display: flex;
                        align-items: center;
                        background: #ffffff;
                        height: 2.5rem;
                        margin-bottom: 30px;
                        border-radius: 6px;
                    }

                    select{
                        height: 2.5rem;
                        width: 100%;
                        margin-bottom: 30px;
                        outline: none;
                        font-family: Mulish;
                        font-weight: normal;
                        font-size: 1rem;
                        line-height: 39px;
                        letter-spacing: 0.015em;
                        color: #070000;
                        padding-left: 4vw;
                        border-radius: 6px;
                        background-image: url("../assests/arrow-down.svg");
                        background-repeat: no-repeat;
                        background-size: .65em auto;
                        background-position: right 2em top 50%;
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        // Hide arrow icon in IE browsers 
                        &::-ms-expand {
                            display: none;
                          }
                    }

                    img{
                        margin-left: 19px;
                    }

                    input[type='text'], input[type='email']{
                        outline: none;
                        background: #fff;
                        border: 0;
                        height: 100%;
                        width: 80%;
                        padding-left: 20px;
                        font-family: Mulish;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 39px;
                        letter-spacing: 0.015em;
                        color: #070000;

                        &::placeholder{
                            font-family: Mulish;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 39px;
                            letter-spacing: 0.015em;
                            color: #070000;
                          }
                          
                        &:-ms-input-placeholder{
                            font-family: Mulish;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 39px;
                            /* identical to box height, or 219% */
                            
                            letter-spacing: 0.015em;
                            
                            color: #070000;
                          }
                          
                        &::-ms-input-placeholder{
                            font-family: Mulish;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 39px;
                            /* identical to box height, or 219% */
                            
                            letter-spacing: 0.015em;
                            
                            color: #070000;
                          }
                    }

                    button{
                        width: 100%;
                        // height: 60px;
                        background: linear-gradient(180deg, #F12F2E 0%, #F49648 100%);
                        border-radius: 6px;
                        outline: none;
                        border: 0;
                        font-family: Mulish;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 39px;
                        letter-spacing: 0.015em;
                        color: #FFFFFF;
                        margin-top: 13px;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}

#our-partners{
    margin-bottom: 100px;

    .partners-container{
        width: 80%;
        margin: auto;
        
        h1{
            font-family: Mulish;
            font-weight: 700;
            font-size: 48px;
            line-height: 49px;
            letter-spacing: 0.015em;
            color: #F49648;
            text-align: center;
            margin-bottom: 37px;
        }

        .partners{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: #{'min(100%, 1104px)'};
            height: 298px;
            background: #F7F7F7;
            border-radius: 149px;
            margin: auto;
            overflow: hidden;

            img{
                width: 150px;
            }
        }
    }
}

#contact{
    width: 80%;
    margin: auto;
    margin-top: 274px;
    position: relative;
    // background: url('../assests/contact.svg')  no-repeat;
    padding-bottom: 191px;

    & > img{
        position: absolute;
        top: -100px;
        left: -100px;
        z-index: -1;
        object-fit: contain;
    }

    h1{
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 49px;
        letter-spacing: 0.015em;
        color: #F49648;
    }

    form{
        display: flex;
        flex-direction: column;
        width: #{'min(70%, 450px)'};

        .email{
            display: flex;
            height: 2.5rem;
            align-items: center;
            background: #F9F9F9;
            padding-left: 1rem;
            border-radius: 6px;
            margin-bottom: 1rem;
        }

        input, textarea, select, button{
            outline: none;
        }

        select{
            border: 0;
            height: 2.5rem;
            width: 100%;
            background-color: #F9F9F9;
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-family: Mulish;
            font-weight: normal;
            font-size: 1rem;
            line-height: 39px;
            letter-spacing: 0.015em;
            color: #969696;
            padding-left: 4vw;
            border-radius: 6px;
            background-image: url("../assests/arrow-down.svg");
            background-repeat: no-repeat;
            background-size: .65em auto;
            background-position: right 2em top 50%;
            -webkit-appearance: none;
            -moz-appearance: none;

            // Hide arrow icon in IE browsers 
            &::-ms-expand {
                display: none;
              }
        }

        input[type='email']{
            border: 0;
            height: 100%;
            width: 90%;
            background: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding-left: 20px;
            font-family: Mulish;
            font-weight: 400;
            font-size: 1rem;
            line-height: 39px;
            letter-spacing: 0.015em;
            color: #969696;

            &:focus{
                background: transparent;
            }

            &::placeholder{
                font-family: Mulish;
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 0.015em;
                color: #969696;
              }
              
            &:-ms-input-placeholder{
                font-family: Mulish;
                font-weight: 400;
                font-size: 1rem;
                line-height: 39px;
                letter-spacing: 0.015em;
                color: #969696;
              }
              
            &::-ms-input-placeholder{
                font-family: Mulish;
                font-weight: 400;
                font-size: 18px;
                line-height: 39px;
                letter-spacing: 0.015em;
                color: #969696;
              }
        }

        textarea{
            background: #F9F9F9;
            height: 128px;
            border: 0;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            font-family: Mulish;
            font-size: 1rem;
            letter-spacing: 0.015em;
            color: #969696;
        }

        button{
            background: linear-gradient(180deg, #F12F2E 0%, #F49648 100%);
            border-radius: 6px;
            border: 0;
            width: 191px;
            height: 2.5rem;
            font-family: Mulish;
            font-weight: 100;
            font-size: 1rem;
            line-height: 39px;
            color: #FFFFFF;

        }
    }
}

@import 'mobile';