a {
	color: #fff;
}

.typing__cursor{
	color: orange;
	font-size: 25px;
  }

.launching__page {
	position: relative;
	color: #fff;
	background: linear-gradient(
		246.05deg,
		#ed2820 -18.09%,
		#f12f2f 37.93%,
		#f49648 72.76%
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

	&Container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: #{"min(90%, 850px)"};
		height: 100%;
		margin: auto;

		> p:first-of-type {
			font-family: Mulish;
			font-style: normal;
			// font-weight: bold;
			font-size: 1.2rem;
			line-height: 1.1;
			letter-spacing: 0.015em;
			text-align: center;
			margin-top: 40px;
		}
	}

	&Header {
		font-family: Mulish;
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		line-height: 1.4;
		letter-spacing: 0.015em;
		margin-top: 12px;
	}

	.logo {
		background: #ffffff;
		border-radius: 50%;
		width: 55px;
		height: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

		img {
			width: 23px;
			object-fit: contain;
		}
	}

	.sweetness {
		font-family: Mulish;
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 0.015em;
	}

	.arrow {
		display: inline-block;
		position: relative;
		left: -69px;
	}

	&Ready {
		position: relative;
		top: -20px;
		left: 15px;
		background: #f49648;
		padding: 3px 17px;
		border-radius: 50px;
		transform: rotate(-4.45deg);
		// width: 20%;
	}

	.countdown {
		width: #{"min(100%, 509px)"};
		border-radius: 56px;
		border: 3px dashed #fff;
		padding: 5px 5px;
		margin-top: -30px;
	}

	&Timer {
		display: flex;
		justify-content: space-evenly;
		background: #000;
		box-shadow: 0px 4px 40px rgba(35, 0, 0, 0.25);
		border-radius: 56px;
		padding: 23px 20px 23px 41px;
		height: 112px;

		h1 {
			font-size: 1.5rem;
			margin-right: 5px;
			color: #fff;
		}

		> div {
			display: flex;
			align-items: center;
			margin-right: 10px;
		}
	}

	.email__form {
		width: 100%;
		position: relative;

		p {
			font-family: Mulish;
			font-size: 16px;
			line-height: 29px;
			text-align: center;
			letter-spacing: 0.015em;
			color: #fcfbfb;
			margin-top: 20px;
			margin-bottom: 1rem;
		}

		form {
			width: #{"min(100%, 350px)"};
			background: #ffffff;
			border-radius: 50px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 35px;
			display: flex;
			margin: auto;

			input {
        // flex: 0.4 ;
        // width: 100px;
				margin-right: 5px;
				outline: 0;
				border: 0;
				// border: solid red;
				font-family: Mulish;
				color: #a6a6a6;
        font-size: 16px;
        
				&:focus,
				&:active {
					background: transparent;
				}
			}

			button {
				// flex: 0.6;
				background: #f02d2a;
				margin-left: auto;
				margin-right: 6px;
				border-radius: 50px;
				color: #fff;
				outline: none;
				border: 0;
				padding: 10px;
				cursor: pointer;
			}
		}
	}

	.social__links {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;

		li {
			margin-right: 2rem;
			list-style: none;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

//   /* BELL */

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	2% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	4% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	6% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	8% {
		-webkit-transform: rotate(-22deg);
		transform: rotate(-22deg);
	}

	10% {
		-webkit-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	12% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	14% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	16% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	18% {
		-webkit-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	20% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes ring {
	0% {
		-webkit-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	2% {
		-webkit-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	4% {
		-webkit-transform: rotate(-18deg);
		-ms-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	6% {
		-webkit-transform: rotate(18deg);
		-ms-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	8% {
		-webkit-transform: rotate(-22deg);
		-ms-transform: rotate(-22deg);
		transform: rotate(-22deg);
	}

	10% {
		-webkit-transform: rotate(22deg);
		-ms-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	12% {
		-webkit-transform: rotate(-18deg);
		-ms-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	14% {
		-webkit-transform: rotate(18deg);
		-ms-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	16% {
		-webkit-transform: rotate(-12deg);
		-ms-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	18% {
		-webkit-transform: rotate(12deg);
		-ms-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	20% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.fa-bell {
	-webkit-animation: ring 2s ease infinite;
	animation: ring 2s ease infinite;
	transform-origin-x: 50%;
	transform-origin-y: 0px;
	transform-origin-z: initial;
}

// background gradient animation
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// media queries
@media screen and (max-width: 767px) {
	.launching__page {
		// &Container{
		//   // width: 100%;
		//   border: #000 solid;
		// }
		&Timer {
			height: 65px;
		}
	}
}

@media screen and (min-width: 767px) {
	.launching__page {
		&Container {
			// width: 850px;

			> p:first-of-type {
				font-size: 36px;
			}
		}

		&Header {
			font-size: 72px;
		}

		.sweetness {
			font-size: 18px;
			// line-height: 46px;
		}
		&Timer {
			h1 {
				font-size: 36px;
			}

			small {
				font-size: 18px;
			}
		}
	}

	/* text animation */

	@keyframes animated-text {
		from {
			width: 0;
		}
		to {
			width: 255px;
		}
	}
}

@media screen and (max-width: 400px) {
  .launching__page{

    .email__form{
      

      form{
        padding-right: 5px;

        input{
          width: 170px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .launching__page{

    .email__form{

      form{

        input{
          width: 140px;
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .launching__page{

    .email__form{

      form{
        padding-left: 20px;

        input{
          width: 130px;
        }
      }
    }
  }
}