.popups{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #000003ab;
    z-index: 999999999;
    justify-content: center;
    align-items: center;
    display: flex;
    div{
        // height: 300px;
        padding: 20px;
        min-width:767px ;
        width: 767px ;
        background: #fff;
        border-radius: 10px;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        
        button{
            position: absolute;
            right: -12px;
            top: -12px;
            height: 24px;
            width: 24px;
            border: none;
            outline: none;
            border-radius: 50%;
            background: #F02D2A;
            box-shadow: 0px 0px 3px #00001f4f;
            justify-content: center;
            align-items: center;

        }
        p{
          padding: 20px;
          width: 90%;
        }
    }
}

// media queries

@media screen and (max-width: 768px){
  .popups{

    // &Container{
    //   // width: 100%;
    //   border: #000 solid;
    // }
    div{
      width: 90%;
      min-width:370px 
    }
  }
}


@media screen and (max-width: 375px){
    .popups{
  
      // &Container{
      //   // width: 100%;
      //   border: #000 solid;
      // }
      div{
        width: 90%;
        min-width:300px 
      }
    }
  }
  @media screen and (max-width: 320px){
    .popups{
  
      // &Container{
      //   // width: 100%;
      //   border: #000 solid;
      // }
      div{
        width: 90%;
        min-width:280px 
      }
    }
  }

  @media screen and (max-width: 280px){
    .popups{
  
      // &Container{
      //   // width: 100%;
      //   border: #000 solid;
      // }
      div{
        width: 90%;
        min-width:250px 
      }
    }
  }
